api_key.txt
config.json
crawl.csv
data.csv
*.pyc
TestSv/Sv/__pycache__/myutils.cpython-39.pyc
TestSv/Sv/__pycache__/urls.cpython-39.pyc
TestSv/Sv/__pycache__/views.cpython-39.pyc
TestSv/Sv/__pycache__/weather_forcast.cpython-39.pyc
TestSv/TestSv/__pycache__/settings.cpython-39.pyc
